__pycache__
*.pyc
*.swp
*.eggs
dist
*.egg-info
.#*
dist
doc/api

# pynauty
build
*.o
third_party_dependencies/pynauty-0.6/nauty/config.*
.project
.pydevproject
.settings
testBench.py
*.png
.eggs
*.png
# pycharm
.coverage
*.idea
outputs
outputs/
multirun/
tsne.pdf

# default json dump
dump.json

*.iml

# yapf
.style.yapf
