[submodule "third_party_dependencies/symmetry_lib"]
	path = third_party_dependencies/symmetry_lib
	url = git@github.com:Time0o/TUD_computational_group_theory.git
[submodule "third_party_dependencies/mpsym"]
	path = third_party_dependencies/mpsym
	url = https://github.com/Time0o/mpsym.git
