__pycache__
*.pyc
*.swp
*.eggs
dist
pykpn.egg-info
.#*
dist
doc/api

# pynauty
build
*.o
third_party_dependencies/pynauty-0.6/nauty/config.*
.project
.pydevproject
.settings
testBench.py
*.dot
*.png
.eggs
.coverage
ontologies/
*.idea

# default json dump
dump.json