[simulation]
platform_xml=<platform-descriptor>
# just a list of application names
applications=app0,app1
slx_version=2017.04

[app0]
mapping_xml=<mapping-descriptor>
cpn_xml=<cpn-graph-descriptor>
trace_dir=<path/to/traces>
start_time=0 us

[app1]
mapping_xml=<mapping-descriptor>
cpn_xml=<cpn-graph-descriptor>
trace_dir=<path/to/traces>
start_time=35 us
